In [25]:
import numpy as np
import pandas as pd
import statistics
%matplotlib inline

def agg(self):
    agg = pd.DataFrame()
    mean = np.mean(self.age)
    median = np.median(self.age)
    ##(values, counts) = np.unique(self.age, return_counts=True)
    #ind = np.argmax(counts)
    #values[ind]
    #print(values[ind], values, counts)
    try:
        mode = statistics.mode(self.age)
    except:
        mode = 'NaN'
    var = self.age.var()
    sd = np.std(self.age, ddof=1)
    se = np.std(self.age ,ddof=1) / np.sqrt(len(self.age))
    agg[''] = ['Mean', 'Median', 'Mode', 'Variance', 'Standard Deviation', 'Standard Error']
    agg['Values'] = [mean, median, mode, var, sd, se]
    return agg.style.hide_index()

data = pd.DataFrame()
data['name'] = ['Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Oliver']
data['age'] = [14, 12, 11, 10, 8, 6, 8]
data.set_index('name', inplace=True)
agg(data)

I would select median as the estimate, most people do not associate an age by decimal.  It is always represented as a whole number. For the estimate of variance I would use the actual Variance, I like the way it represents how different the ages really are.

In [26]:
data.at['Cindy'] = data.loc['Cindy'] + 1
agg(data)

The mean, variance, standard deviation, and standard error all changed.  Median and mode are still the same.

In [27]:
data = data.drop('Oliver', axis=0)
data.loc['Jessica'] = [1]

In [28]:
print(data)
agg(data)

         age
name
Greg      14
Marcia    12
Peter     11
Jan       10
Bobby      8
Cindy      7
Jessica    1

I would not change my selection, they are still good representations of the age differences.

There would be around 15% to 20% of adult Americans who where fans of the shows.