In [1]:
import pandas as pd

Data from https://www.kaggle.com/yufengsui/mobile-games-ab-testing/data.

In [2]:
df = pd.read_csv('cookie_cats.csv')

In [3]:
df.head(10)

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True
5     540  gate_40             187         True         True
6    1066  gate_30               0        False        False
7    1444  gate_40               2        False        False
8    1574  gate_40             108         True         True
9    1587  gate_40             153         True        False


    Analysis that highlights your experimental hypothesis.
    A rollout plan showing how you would implement and rollout the experiment
    An evaluation plan showing what constitutes success in this experiment

<h2>Analysis</h2>
Need to see if